<!-- Specify model for the view -->
@model List<MoviesStore.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Code block for c# code (vars etc)-->
@{
    var className = Model.Count > 0 ? "popular" : null;
}

<!-- Model is used to access model data which is specified on top of the file i.e Movie -->
<h2 class="@className">Movies</h2>

@if (Model.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

