@model MoviesStore.Models.Customer
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<div>
    <div>Membership Type: @Model.MembershipType.Name</div>
    @if (Model.Birthdate != null)
    {
        <div>Birth Date: @Model.Birthdate.Value.ToString("dd-MMM-yyyy")</div>
    }
</div>

